# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
.env.*
test.db

# VSCode
.vscode/

# Test/coverage
.coverage
.pytest_cache/

# Distribution
dist/
build/
*.egg-info/
.eggs/

# OS
.DS_Store
Thumbs.db
uv.lock
.venv/